<h2 style = "position:relative;left: 430px; bottom: 120px;"> About me</h2>

<div style="width:1000px;height:150px;border:1px solid #000;">Hello, I am Suneedhi Laddha, a 3rd year Computer science major who is also minoring in Quantative Finance. My love for CS began in 10th grade when I  took a C++ class at my highschool. I 
was amazed at how I could create such simple yet effective applications such as a four function calculator or a Celsius to Fahrenheit converter with only a month of coding knowledge. I was 
excited to see what more I could build if I were to broaden my programming knowledge. So I started taking more programming courses throughout my highschool path and decided to major in CS.
I have run free programming classes  for SEWA, a non-profit organization, and have taught 6-8th graders the fundamentals of Java. Throughout my college journey, I have taken tons of relevant
courses such as Data Structures, Algorithms, Linear Algebra, Fundamentals Of Machine Learning, Web Programming, Concurrent Programming, Systems Programming, Theory Of Computation to broaden
my knowledge in this field. As a result, I have gained relevant experience with programming languages such as Java, Javascript, C++, C, Python, HTML, CSS</div>





