  <div class = "picture" >
                <img src = "/public/img/suneedhi.jpg">  
            </div>
            <div class = "rectangle" >
            <div class = "rectangle1">
              <div class="aboutbox">
               <p> <a href = "/about">About </a></p>
              </div>
              <div class="projectbox">
                 <p> Project's and experience</p>
                </div>
            </div>
            <div class= "rec2">
              <div class="resumebox">
                <p> <a href = "/resume">resume </a></p>
              
                
              </div>
              <div class="spotifybox">
                <p>spotify</p>
              </div>
            </div>
            </div>